{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/about-index-style.css' %}">
{% endblock %}

{% block title %} Kelly Finnerty {% endblock%}

{% block content %}
    <div class="container">
        <header>
            <div class="row" id="home-name">
                <div class="col-lg-1 offset-lg-2 col-md-4 col-sm-12">
                    <img src="{% static '/img/me.jpeg'%}" id="profile-pic" alt="Picture of Kelly Finnerty"
                        width="170px" height="170px"/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h1>
                        Kelly Finnerty
                        <a href="https://www.linkedin.com/in/kelly-finnerty-04538b14a/" target="_blank" data-toggle="tooltip" title="LinkedIn">
                            <i class="fab fa-linkedin link-icon socials-icons" alt="link to linkedin"></i>
                        </a>
                        <a href="https://github.com/kellyfinnerty" target="_blank" data-toggle="tooltip" title="Github">
                            <i class="fab fa-github-square link-icon socials-icons" alt="github link"></i>
                        </a>

                    </h1>
                    <p>Computer Science, B.A. | McGill University 2016-2020</p>
                    <p><i id="map-pin" class="fas fa-map-pin"></i>
                        Boston, MA</p>
                </div>
            </div>
        </header>
        <section id="about">
            <div class="row" id="home-about">
                <div class="col-lg-10 offset-lg-1 col-12">
                    <h2>About Me</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Lacus laoreet non curabitur gravida. Natoque penatibus et magnis dis parturient montes nascetur. Ut aliquam purus sit amet
                        luctus venenatis lectus. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. In fermentum et sollicitudin ac orci
                        phasellus. Ipsum faucibus vitae aliquet nec ullamcorper sit. Interdum posuere lorem ipsum dolor. Arcu felis bibendum ut
                        tristique et egestas quis ipsum. Lacus viverra vitae congue eu consequat ac. Sit amet est placerat in egestas erat imperdiet.
                        Pulvinar sapien et ligula ullamcorper. Faucibus ornare suspendisse sed nisi lacus. Egestas quis ipsum suspendisse ultrices.
                        Commodo elit at imperdiet dui accumsan sit amet nulla. Id nibh tortor id aliquet lectus proin nibh nisl condimentum.
                        Eget velit aliquet sagittis id consectetur purus.
                    </p>
                </div>
            </div>
        </section>

        <div class="row p-o" id="home-contact">
            <div class="col-md-4 offset-md-1 col-sm-12 mb-5 mt-3">
                <h3>Resume
                <a href="{% static '/files/Kelly_Finnerty_CV.pdf'%}" download data-toggle="tooltip" title="Download">
                    <i id="download-icon" alt="download button" class="fas fa-download link-icon fa-xs"></i>
                </a></h3>
            </div>
            <div class="offset-md-2 col-md-4 col-sm-12">
                <h3>Contact</h3>
                <p>
                    <i alt='envelope' class="far fa-envelope contact-icon"></i>
                    <a href="mailto:kfinnerty01@gmail.com" id="email">kfinnerty01@gmail.com</a>
                </p>
                <p>
                    <i class="fas fa-phone contact-icon"></i>
                    (978)-826-3929
                </p>
            </div>
        </div>

        <section id="projects">
            <div class="row p-o" id="home-projects">
                <hr class="boundary col-12">
                <div class="col-12">
                    <h2 id="project-header">Projects I've Worked On</h2>
                </div>
                {% for project in projects %}
                    {% if not forloop.counter|divisibleby:2 %}
                        <div class="col-sm-12 col-md-5 project mb-5">
                    {% else %}
                        <div class="col-sm-12 col-md-5 offset-lg-2 project mb-5">
                    {% endif %}
                        <img class="project-img img-thumbnail" src="{{ project.img.url }}" alt="{{ project.title }} image"/>
                        <h3>{{ project.title }}</h3>
                        <p>{{ project.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>

        <div class="row" id="home-footer">
            <div class="col">
                <footer>Created by Me | 2020</footer>
            </div>
        </div>
    </div>
{% endblock%}